In [9]:
import pandas as pd
import plotly.graph_objects as go
import numpy as np

In [33]:
cesta = {'mercadona': {'pollo 1kg': 3.10,
                        'balacao 375gr': 5.50 ,
                        'naranjas 1kg': 2.30 ,
                        'tomates 1kg': 2.19 ,
                        'patatas 1kg': 1.79,
                        'aceite 1L': 9.25 ,
                        'huevos 6': 1.20 ,
                        'leche 6L': 5.22 ,
                        'pan 1': 0.48 ,
                        'papel 12': 4.50 ,
                        'pasta 1kg': 1.24 ,} ,

        'dia':          {'pollo 1kg': 3.30 ,
                        'balacao 375gr': 7.79 ,
                        'naranjas 1kg': 2.49 ,
                        'tomates 1kg': 2.99 ,
                        'patatas 1kg': 1.79 ,
                        'aceite 1L': 9.25 ,
                        'huevos 6': 1.69 ,
                        'leche 6L': 5.22,
                        'pan 1': 0.48 ,
                        'papel 12': 4.79 ,
                        'pasta 1kg': 1.24 ,} ,    
        
        'carrefour':    {'pollo 1kg': 4.69,
                        'balacao 375gr': 8.15 ,
                        'naranjas 1kg': 3.39,
                        'tomates 1kg': 2.15 ,
                        'patatas 1kg': 1.79,
                        'aceite 1L': 9.25 ,
                        'huevos 6': 1.19 ,
                        'leche 6L': 5.22 ,
                        'pan 1': 0.47 ,
                        'papel 12': 4.49 ,
                        'pasta 1kg': 1.24 ,} }

In [34]:
carrito = pd.DataFrame(cesta)
carrito

               mercadona   dia  carrefour
pollo 1kg           3.10  3.30       4.69
balacao 375gr       5.50  7.79       8.15
naranjas 1kg        2.30  2.49       3.39
tomates 1kg         2.19  2.99       2.15
patatas 1kg         1.79  1.79       1.79
aceite 1L           9.25  9.25       9.25
huevos 6            1.20  1.69       1.19
leche 6L            5.22  5.22       5.22
pan 1               0.48  0.48       0.47
papel 12            4.50  4.79       4.49
pasta 1kg           1.24  1.24       1.24

In [35]:
carrito.loc[:,'mercadona'].sum()

36.77

In [36]:
carrito.loc[:,'dia'].sum()

41.029999999999994

In [37]:
carrito.loc[:,'carrefour'].sum()

42.03

In [38]:
pd.options.display.max_rows = 20

In [39]:
for i in range(10):
    print(carrito.iloc[i,:][carrito.iloc[i,:] == carrito.iloc[i,:].min() ])
    print('  ')

mercadona    3.1
Name: pollo 1kg, dtype: float64

mercadona    5.5
Name: balacao 375gr, dtype: float64

mercadona    2.3
Name: naranjas 1kg, dtype: float64

carrefour    2.15
Name: tomates 1kg, dtype: float64

mercadona    1.79
dia          1.79
carrefour    1.79
Name: patatas 1kg, dtype: float64

mercadona    9.25
dia          9.25
carrefour    9.25
Name: aceite 1L, dtype: float64

carrefour    1.19
Name: huevos 6, dtype: float64

mercadona    5.22
dia          5.22
carrefour    5.22
Name: leche 6L, dtype: float64

carrefour    0.47
Name: pan 1, dtype: float64

carrefour    4.49
Name: papel 12, dtype: float64

In [40]:
carrito.carrefour

pollo 1kg        4.69
balacao 375gr    8.15
naranjas 1kg     3.39
tomates 1kg      2.15
patatas 1kg      1.79
aceite 1L        9.25
huevos 6         1.19
leche 6L         5.22
pan 1            0.47
papel 12         4.49
pasta 1kg        1.24
Name: carrefour, dtype: float64